@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,800&amp;subset=vietnamese);

body {
  background-attachment: fixed;
  color: #6d6d6d;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  line-height: 1.642;
  overflow-x: hidden;
  transition: inherit;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%
}

.nav-item {
  /* text-transform: uppercase; */
  font-size: 16px;
  font-weight: 400;
  color: #272424;
}

.navbar-nav ml-auto {
  color: #221f1f;
}

.bgc-fa {
  background: #ffffff !important;
}

.style3 {
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.5);
}